@import "tailwindcss";

#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
}

@media (min-width: 768px) {
  #root {
    padding: 2rem;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@layer utilities {
  .text-7xl {
    font-size: clamp(2.5rem, 6vw, 4.5rem);
  }

  .text-6xl {
    font-size: clamp(2rem, 5vw, 3.75rem);
  }

  .text-5xl {
    font-size: clamp(1.75rem, 4vw, 3rem);
  }

  .text-4xl {
    font-size: clamp(1.5rem, 3vw, 2.25rem);
  }

  .text-3xl {
    font-size: clamp(1.25rem, 2.5vw, 1.875rem);
  }

  .text-2xl {
    font-size: clamp(1rem, 2vw, 1.5rem);
  }

  .text-xl {
    font-size: clamp(0.875rem, 1.5vw, 1.25rem);
  }

  .text-lg {
    font-size: clamp(0.65rem, 1vw, 1.125rem);
  }
}
@theme {
  --font-display: "Unbounded", serif;
  --font-sans: "Roboto", sans-serif;

  --color-black: rgba(54, 50, 45, 1);
  --color-white: rgba(255, 253, 251, 1);
  --color-red: rgba(154, 60, 62, 1);
  --color-gray: rgba(103, 99, 95, 1);
}