/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

a {
  color: #646cff; /* Цвет ссылок */
  text-decoration: inherit; /* Убираем подчёркивание */
}
a:hover {
  color: #535bf2; /* Hover цвет ссылок */
}

body {
  margin: 0; /* Убираем стандартные отступы */
  min-height: 100vh; /* Высота страницы минимум на экран */
  background-color: rgba(219, 236, 253, 1); /* Голубой фон страницы */
  color: rgba(54, 50, 45, 1); /* Основной цвет текста */
}
/* 
h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

button {
  border-radius: 8px; /* Базовый радиус кнопок (в Tailwind у тебя чаще rounded-2xl) */
  padding: 0.6em 1.2em; /* Базовые отступы кнопок (в Tailwind у тебя свои padding) */
  cursor: pointer; /* Курсор для кликабельности */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color; /* Доступность: обводка при фокусе */
}